.container-fluid {
  height: 100vh;
  margin: 0;
  padding: 0;
  back
}

nav.navbar {
  margin-bottom: 0px;
  padding: 0;
  height: 7vh;
  width: 100vw;
}

.title {
  margin: 2vh auto;
  text-align: center;
}

hr.divider {
  border-color: rgb(179, 152, 203);
  width: 50vw;
  margin-top: 3vh;
  margin-bottom: 1vh;
}

.game-board {
  height: 65vh;
  margin-top: 2vh;
  margin-bottom: 1vh;
  padding: 0;
}

table {
  height: 100%;
  width: 100%;
}

td {
  background-color: rgb(203, 222, 224);
  border: 1px solid rgb(42, 42, 42);
}

td.button  {
  border: none;
  background-color: white;
  text-align: center;
}

.btn {
  background-color: inherit;
  border: 1px solid rgb(42, 42, 42);
}

.btn:hover {
  background-color: rgb(203, 222, 224);
}

.game-info {
  height: 10vh;
  text-align: center;
}

h2 .game-message {
  margin-top: 0px;
  text-align: center;
}
